.sort-down,.sort-up{
    font-size: 50px;

}
.arrowdiv{
    font-size: 100px;
}
.arrow{
    width: .4em;
    height:.4em;
    display: inline-block;
    position: relative;


}
.arrow:before,.arrow:after{
    content:'';
    border-color:transparent;
    border-style: solid;
    position:absolute;
}
.arrow-left:before{
    height: 20%;
    width: 80%;
    left:20%;
    top:40%;
    border: none;
    background-color: black;

}
.arrow-left:after{
    left:-20%;
    top:25%;
    border-width:.1em .08em;
    border-right-color: #000;
}
.arrow-right:before{
    height: 20%;
    width: 80%;
    left: 0;
    top: 40%;
    border: none;
    background-color: black;
}
.arrow-right:after{
    left: 80%;
    top: 25%;
    border-width:.1em .08em;
    border-left-color:#000 ;
}
.arrow-up:before{
    width: 20%;
    height: 80%;
    top:20%;
    left:40%;
    border: none;
    background-color: #000;
}
.arrow-up:after{
    top:-20%;
    left:25%;
    border-width:.08em .1em;
    border-bottom-color:#000 ;

}
.arrow-down:before{
    width: 20%;
    height: 80%;
    left: 40%;
    top: 0;
    border: none;
    background-color: #000;

}
.arrow-down:after{
    left: 25%;
    top:80%;
    border-width:.08em .1em;
    border-top-color: #000;
}


.down ,.up{
    display:inline-block;
}
.down span,.up span{
    display: block;
}
.rec{
    background-color: #000;
    height:.05em;
    margin:.04em 0;
}
.rec1{
    width: .2em;

}
.rec2{
    width: .15em;

}
.rec3{
    width: .1em;

}
.rec4{
    width: .05em;

}






